@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.container {
  width: 1568px;
  height: 100vh;
  /* border: 5px solid #F7F7F7; */
  margin: 133px auto;
  cursor: pointer;
}

.header {
  height: 94px;
  margin-left: 180px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {

  height: 1200px;
  background-color: rgba(128, 128, 128, 0.1);
}

.add-new-task {
  height: 50px;
  display: flex;
  justify-content: end;
  padding: 50px;
}

#task {
  font-size: 35px;
  margin-right: 60px;
  position: relative;
  top: 15px;
  padding-left: 20px;
  margin-right: 120px;
}

#task:hover {
  cursor: pointer;
}

.cards-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  column-gap: 40px;
  row-gap: 40px;
  margin-left: 150px;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  width: 400px;
  height: 450px;
  background-color: white;
  margin-left: 30px;
  border: none;
  border-radius: 8px;

}

.card-1:hover,
.card-2:hover,
.card-3:hover,
.card-4:hover,
.card-5:hover {
  box-shadow: 6px 6px 6px gray,
    -6px -6px 6px grey;
}

input {
  margin: 25px;
}

#check {
  height: 30px;
  width: 30px;
}

input[type=checkbox] {
  accent-color: #7B7B7B29;
}

#label {
  font-size: 28px;
  padding: 20px;
}

a {
  text-decoration: none;
}

#check {
  height: 40px;
  width: 40px;

}

/* page-2 */
.blur-page {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.pop-up {
  width: 500px;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 4px 4px rgb(58, 57, 57), -4px -4px 4px rgb(81, 79, 79);
  margin-left: 433px;
  margin-right: 433px;
  margin-top: 184px;
  margin-bottom: 650px;
  position: absolute;
  top: 35%;
  left: 20%;

}



.div-1-top-left {
  float: left;
  width: 155px;
  height: 30px;
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
}

.div-1-top-right {
  float: right;
  width: 18px;
  height: 18px;
  margin-top: 8px;
  margin-right: 16px;
}


#pop-up-text {
  width: 460px;
  height: 40px;
  margin: 50px 20px 0px 18px;
  padding: 6px;
  font-size: 18px;
}

#popup-button {
  float: right;
  border: 0px;
  height: 50px;
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 40px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 165, 236);

}

/* page-3 */
#back-add-task {
  display: flex;
  padding-top: 100px;
}

#back-arrow {
  margin-left: 550px;
  margin-right: 250px;
}

#cards-container {
  display: flex;
  justify-content: center;
  margin-top: 82px;
}

#card-1 {
  margin: auto;
}

#card-1 {
  width: 600px;
  height: 450px;
  background-color: white;
  border: none;
  border-radius: 8px;
}

/* page-4  */
.blur {
  filter: blur(8px);

}

#pop-up {
  width: 500px;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 4px 4px rgb(58, 57, 57), -4px -4px 4px rgb(81, 79, 79);
  margin-left: 433px;
  margin-right: 433px;
  margin-top: 184px;
  margin-bottom: 650px;
  position: absolute;
  top: 22%;
  left: 25%;

}

#div-1-top-left {
  float: left;
  width: 155px;
  height: 30px;
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
}

#div-1-top-right {
  float: right;
  width: 18px;
  height: 18px;
  margin-top: 8px;
  margin-right: 16px;
}


.pop-up-text {
  width: 460px;
  height: 40px;
  margin: 50px 20px 0px 18px;
  padding: 6px;
  font-size: 18px;
}

.popup-button {
  float: right;
  border: 0px;
  height: 50px;
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 40px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 165, 236);

}

/* Responsiveness for mobile  */
@media only screen and (min-width:360px) and (max-width:500px) {
  body {
    margin: 0%;
    padding: 0%;
  }

  .main-container {
    width: 100%;
    height: 3000px;
    margin: auto
  }

  .add-new-task {
    text-align: center;
    margin: auto;
  }

  .header span {
    margin: 0%;
  }

  #fa-fa-plus {
    transition: 1s;
    margin: auto;
  }

  #task {
    display: none;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin: 0%;
    font-size: larger;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    margin: auto;
    margin-bottom: 16px;
  }

  /* page-2 */
  .pop-up {

    margin: auto;
    position: relative;
    top: 10vh;
    bottom: 500px;
    left: 380px;
  }

  .pop-up .div-1,
  .div-2 {
    width: 100%;
    margin: auto;

  }

  /* page-3 */
  #task {
    display: none;
  }

  #back-add-task {
    justify-content: space-around;
  }

  #back-arrow {
    position: static;
  }

  #fa-fa-plus {
    position: static;
    margin-right: 480px;
  }
}

/* Responsiveness for Tablet */
@media only screen and (min-width:500px) and (max-width:1200px) {
  body {
    margin: 0%;
    padding: 0%;
  }

  .main-container {
    width: 100%;
    height: 3200px;
  }

  .add-new-task {
    text-align: center;
    margin: auto;
  }

  .header span {
    margin: 0%;
  }

  #fa-fa-plus {
    transition: 1s;


  }

  #task {
    display: none;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin: 0%;
    font-size: larger;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    width: 700px;
    height: 550px;
    margin: auto;
    margin-bottom: 16px;
  }

  /* page-2 */
  .pop-up {
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 100%;
    margin: auto;
    position: relative;
    top: 10vh;
    bottom: 800px;
    left: 430px;

  }

  #popup-button {
    margin-bottom: 20px;
  }

  #pop-up-text {

    width: 560px;
    height: 40px;
    margin-top: 60px;
    margin-left: 0%;

  }


  .pop-up .div-1,
  .div-2 {

    width: 100%;
    top: 35%;
    left: 0%;
  }

  /* page-3 */
  #task {
    display: none;
  }

  #back-add-task {
    justify-content: space-around;
  }

  #back-arrow {
    position: static;
  }

  #fa-fa-plus {
    position: static;
    margin-right: 520px;
  }
}